body {
  background-color: #1d1d1d;
  color: #eee;
}

#app-container {
  margin: 0 auto;
  width: 95%;
}

.calendar {
  display: flex;
  display: -webkit-flex;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;

  height: 90vh;
}

.focused {
}

.unfocused {
  opacity: 0.1;
}


.day-container {
  flex-grow: 1;
  min-width: 200px;
  max-width: 225px;
  height: 200px;
  border: 1px solid #252525;
}

.day {
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}

.date, .month-name {
  color: #e0e0e0;
  background-color: #1d1d1d;
  padding: 0 5px;
  float: right;
  border-radius: 0 0 0 3px;
}

.date {
  opacity: 0.1;
}

.day:hover .date {
  opacity: 1;
}

.day.airplane {
  background-image: url("/images/airplane-icon.gif");
}

.day.train {
  background-image: url("/images/train-icon.jpg");
}

.day.bus {
  background-image: url("/images/bus-icon.png");
}

.day.book {
  background-image: url("/images/book-icon.png");
}

.image-select {
  width: 250px;
}

button {
  color: #333;
}
