body {
  background-color: #1d1d1d;
}

#app-container {
  margin: 0 auto;
  width: 95%;
}

.calendar {
  display: flex;
  display: -webkit-flex;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;

  height: 500px;
  overflow-y: scroll;
}

.focused {
}

.unfocused {
  opacity: 0.1;
}

.day-container {
  flex-grow: 1;
  min-width: 150px;
}

.day {
  height: 150px;
  background-color: blue;
  background-size: cover;
  border: 1px solid black;
}

#day-12 {
  background-image: url("thumb1.jpg");
}

#day-13 {
  background-image: url("thumb2.jpg");
}

.date-row {
}

.date {
  color: white;
  background-color: #1d1d1d;
  padding: 0 5px;
  float: right;
  border-radius: 0 0 0 3px;
}
